*{
    color: rgb(41, 175, 63);
}
.red-p{
    color: rgb(228, 32, 32);
}
.blue-p{
    color: rgb(82, 17, 233);
}
.blue-p span{
    color: rgb(253, 229, 15);
}
strong span{
    color: rgb(223, 39, 177);
}
[data-foo]{
    color: rgb(223, 39, 177);
}
.super-strange-paragraph:hover{
    color: rgb(228, 32, 32);
  }